:root {
    --bg-dark: #1a1c2c;
    --bg-medium: #2d2d44;
    --bg-light: #3C3C3C;
    --text-dark: #DEAD85;
    --text-medium: #BBBBBB;
    --text-light: #FFFFFF;
    --accent-primary: #DEAD85;
    --accent-secondary: #2d2d44;
    --accent-tertiary: #4DFE89;
    --bg-night: #222222;
}

* {
    font-family: pixelated;
    font-size: 11px;
    letter-spacing: -0.05em;
}

p {
    padding: 5px;
    margin: 5px;
    background-color: var(--text-medium);
}

body {
    background-color: var(--bg-dark);
    background-image: url("data:image/svg+xml,%3Csvg width='4' height='4' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%232d2d44' fill-opacity='0.2' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 5v1H0V0h5z'/%3E%3Cpath d='M0 0h1v1H0V0zm1 1h1v1H1V1z'/%3E%3C/g%3E%3C/svg%3E");
}

/* Font */
@font-face {
    font-family: pixelated;
    src: url('DepartureMono.otf');
}

/*Buttons*/

button {
    border: 2px solid var(--bg-dark);
    border-radius: 4px;
    transition: all 0.15s ease;
    box-shadow: 0 3px 0 var(--bg-medium);
    margin: 5px;
    background-color: var(--accent-primary);
    padding: 1px 12px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

/*     
    Button could use text-shadow: 0 1px 0 rgba(255,255,255,0.5);
*/

button:before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255,255,255,0.1), transparent);
    transition: left 0.5s;
}

button:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 0 var(--bg-medium);
}

button:hover:before {
    left: 100%;
}

button:active {
    transform: translateY(1px);
    box-shadow: 0 1px 0 var(--bg-medium);
}

/* Tooltips */
.tooltip {
    position: relative;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 250px;
    background-color: var(--bg-night);
    color: var(--text-light);
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    white-space: pre-wrap;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

/* Other */
.no-select {
    user-select: none;
    background-color: var(--bg-light);
}

.basicDiv {
    padding: 5px;
    margin: 10px 5px;
    background-color: var(--bg-night);
    box-shadow: 0 2px 0 var(--bg-dark);
}

.half-button {
    width: 75px;
}