#field {
    width: 855px;
}

.field-plot {
    width: 70px;
    height: 70px;
    padding: 0px;
}

.field-plot-symbol {
    font-size: 20px;
    display: block;
    /*-webkit-text-stroke: 1px black; posible outlining*/
}